html,
body {
    height: 100%;
    font-size: 16px;
}

* {
    font-family: Courier, monospace;
}

body {
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 1rem;
    outline: none;
    box-sizing: border-box;
}

.input {
    position: relative;
}

.input span {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

#root {
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 1rem;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.sub.swt {
    color: red;
}

.sub.swr {
    color: blue;
}

.ReactVirtualized__Grid__innerScrollContainer {
    overflow: visible !important;
}

.ReactVirtualized__Grid.ReactVirtualized__List {
    overflow: auto !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
